body{
    position: relative;
}
.nav {
    box-sizing: border-box;
    width: 100%;
    height: 88px;
    background: #e84c4b;
    display: flex;
    padding-top: 25px;
}
.nav span {
    color: #fff;
}
.nav a {
    color: #fff;
    font-size: 14px;
}
.nav .left{
    width: 40%; 
     line-height: 45px;
}
.nav .ce{
     width: 40%;
    float: left;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    margin-left:30px;
}
.nav .ce a{
   
    vertical-align: middle;
    float: left;
    font-size: 18px;
    padding: 0 40px;
    
}
.nav .log{
    vertical-align: middle;
}
.nav .left span{
    vertical-align: middle;
    font-size: 24px;
    margin-left:10px;
}

.nav .right{
     line-height: 50px;
    
}
.nav .right a{
    font-size: 18px;
}
.banner {
  position:relative;
  width: 100%;
  background: #eee;
  height: 73px;
  padding-top:27px;


}
.el-form{
  width:100%;
  line-height: 10px;
  background:#fff;
  padding-left: 20px;
  height: 53px;
 
}


.el-table th>.cell .el-checkbox__inner {
  /* display: none; */
}

.el-pagination {

  text-align: center;
  margin-top: 20px;
}
.btn1{
     color: #fff;
    background-color: #F74C4C;
    border-color: #F74C4C;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #c4c4c4;
    color: #fff;
    margin: 0;
    padding: 10px 15px;
    border-radius: 4px;
     position:absolute;   
    left:-80%;
}
.el-table tr {
    background-color: #fff;
}
thead{
    background: #4A4A4A;
}
.el-pager li.active {
    border-color:#F74C4C;
    background-color:#F74C4C;
    color: #fff;
    cursor: default;}
.el-button--small{
        background: #F74C4C;
        color:#fff;
 }
    .el-button--primary {
    color: #fff;
    background-color: #F74C4C;
    border-color:#F74C4C;
}
.for1{
   text-align: left;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    width: 414px;
    border-radius: 3px;
    height: 356px;
    font-size: 16px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: fixed;
    top: 30%;
    left: 40%;
    z-index:99;
     box-shadow: 0px 2px 10px #000;
}
.el-message-box__title{
    text-align: center;
    font-size: 18px;
    color:#e84c4b;
    font-weight: 300;
}
.for1 p{
        margin-left: 20px;
        margin-bottom: 20px;    
}
.for1 span{
    display: inline-block;
    text-align: right;
    width: 80px;
}
.el-table_1_column_2 .el-button{
    background: #fff;
    color:#696969;
    border:0px;
    text-decoration: underline;
    text-decoration-color:#000;
}

.el-message-box__content {
    padding: 8px 20px;
    color: #48576a;
    font-size: 14px;
    position: relative;
}
.for2 {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  width: 414px;
  border-radius: 3px;
  height: 36%;
  font-size: 16px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 99;
  /* box-shadow:0px 10px 5px #000; */
}

.for2 p input {
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #bfcbd9;
  box-sizing: border-box;
  color: #1f2d3d;
  font-size: inherit;
  height: 36px;
  line-height: 1;
  outline: 0;
  padding: 3px 10px;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1)
}

.for3 {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  width: 414px;
  border-radius: 3px;
  height:50%;
  font-size: 16px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.for2 p{
    margin-bottom:2%;
}

.el-message-box__title {
  text-align: center;
  font-size: 18px;
  color: #e84c4b;
  font-weight: 300;
}

.for2 p {
  margin-left: 20px;
  margin-bottom: 20px;
}

.for2 span {
  display: inline-block;
  text-align: right;
  width: 80px;
}

.el-table_1_column_2 .el-button--small {
  background: #fff;
  color: #696969;
}

.for3 span {
  display: inline-block;
  text-align: right;
  width: 80px;
}

.for3 p {
  margin-left: 20px;
  margin-bottom: 20px;
}

.for3 .el-input__inner {
  width: 204px;
  height: 35px;
}

.el-message-box__content {
  padding: 8px 20px;
  color: #48576a;
  font-size: 14px;
  position: relative;
}
.employer{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    padding:0;
}
.alert {
    box-shadow: 0px 2px 5px #000;
    position: fixed;
    top: 50px;
    left:50%;
    z-index: 999;
    width: 414px;
    margin-left:-207px;
}

.for4{
 text-align: left;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  width: 414px;
  border-radius: 3px;
  height:55%;
  font-size: 16px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
   box-shadow: 0px 2px 10px #000;
    position: fixed;
    top: 30%;
    left: 40%;
    z-index: 999;
}
.for4 span {
  display: inline-block;
  text-align: right;
  width: 80px;
}

.for4 p {
  margin-left: 20px;
  margin-bottom: 20px;
}

.for4 .el-input__inner {
  width: 204px;
  height: 35px;
}


.for6{
 text-align: left;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  width: 414px;
  border-radius: 3px;
  height:55%;
  font-size: 16px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
   box-shadow: 0px 2px 10px #000;
    position: fixed;
    top: 30%;
    left: 40%;
    z-index: 999;
}
.for6 span {
  display: inline-block;
  text-align: right;
  width: 80px;
}

.for6 p {
  margin-left: 20px;
  margin-bottom: 20px;
}

.for6 .el-input__inner {
  width: 204px;
  height: 35px;
}
.el-icon-minus{
    position: absolute;
    left:11px;
    top:10px;
}
.router-link-exact-active .router-link-active{
    border:5px solid #fff;
}

.description{
    width: 300px;
    /* height: 30px; */
    font-size: 12px;
    /* margin-bottom:10px; */
    color:#F74C4C;
    margin-left: 50px;
}
.el-form-item {
    margin-bottom: 0px;
    padding-top: 10px;
   
}



